/* Common*/

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;

  border-radius: 8px;
  border: none;
}

/* main page */

.pages {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.page-title {
  font-size: 24px;
}

.main-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.04em;
  color: #4e75ff;
  transition: color 0.3s ease;
}

.main-link:hover {
  color: #6c8cff;
}

/* back link */

.back-link {
  text-decoration: none;
  color: #4e75ff;
}

.back-link:hover {
  color: #6c8cff;
}

/* Timer */
.container-input {
  display: block;
  padding-top: 36px;
  max-width: 500px;
  margin: 0 auto;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 346px;
  height: 72px;
}

.button-base {
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  transition: background-color 0.3s ease;
}

.btn {
  width: 75px;
  height: 40px;
  color: #989898;
  margin-left: 8px;
}

.btn:hover:not(:disabled),
.submit-btn:hover:not(:disabled) {
  background-color: #6c8cff;
  color: #fff;
}

.btn:active:not(:disabled),
.submit-btn:active:not(:disabled) {
  background-color: #4e75ff;
}

.btn:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 72px;
  margin-top: 32px;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}

.input {
  width: 272px;
  height: 40px;
  font-size: 16px;
  padding-left: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border-radius: 4px;
  border: 1px solid #808080;
}

/* Promise Generator */
.form {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-input {
  display: block;
  width: 360px;
  height: 40px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.radio-form {
  width: 360px;
  height: 64px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  margin-top: 16px;
}

.radio-btn {
  padding-left: 48px;
}

.submit-btn {
  width: 360px;
  height: 40px;
  background: #4e75ff;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 24px;
}

.submit-btn:hover {
  background: #6c8cff;
}
